.choose-word {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    background-color: rgba(160, 154, 154, 0.186);
}



.levels {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
}

.level {
    margin-top: 7%;
}